/* Styles for Authentication Page */
.authentication-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8dfd3; /* Rose pâle */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .authentication-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #3b2927; /* Marron foncé */
  }
  
  .authentication-container form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Add spacing between form elements */
  }
  
  .authentication-container label {
    margin-bottom: 5px;
    color: #3b2927; /* Marron foncé */
  }
  
  .authentication-container input[type="text"],
  .authentication-container input[type="password"],
  .authentication-container input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Add placeholder styles and focus styles as needed */
  }
  
  .authentication-container button {
    padding: 10px 20px; /* Adjust padding if needed */
    background-color: #3b2927; /* Marron foncé */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .authentication-container button:hover {
    background-color: #57443a; /* Marron plus foncé */
  }
  
  /* Style for the message */
  .authentication-message {
    margin-top: 20px;
    text-align: center;
    color: #3b2927; /* Marron foncé */
  }
  
  .authentication-message button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 600px) {
    .authentication-container {
      width: 90%; /* Adjust width for smaller screens */
    }
  }
  