/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar styles */
.navbar {
    background-color: #f8dfd3; /* Rose pâle */
    color: #3b2927; /* Marron foncé */
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

.navLinks li {
    list-style: none;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.navLinks a {
    text-decoration: none;
    color: #3b2927; /* Marron foncé */
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 150px;
    max-height: 100px;
  }

  .logout-button {
    background-color: transparent; /* Couleur de fond du bouton */
    color: #240303; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Ajouter des coins arrondis */
    cursor: pointer; /* Afficher un curseur pointer au survol */
  }
  
  .logout-button:hover {
    background-color: #ff7f50; /* Changement de couleur au survol */
  }
  
/* Hero section styles */
.hero {
    background-color: #eff3f6; /* Bleu clair */
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3b2927; /* Marron foncé */
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #3b2927; /* Marron foncé */
}

.button {
    display: inline-block;
    background-color: #3b2927; /* Marron foncé */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #57443a; /* Marron plus foncé */
}

/* Main content styles */
.mainContent {
    padding: 50px 0;
}

.aboutSection,
.featuresSection {
    margin-bottom: 40px;
}

.aboutSection h2,
.featuresSection h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3b2927; /* Marron foncé */
}

.features {
    display: flex;
    justify-content: space-between;
}

.featureContainer {
    flex-basis: 30%;
    padding: 20px;
    background-color: #f8dfd3; /* Rose pâle */
    border-radius: 5px;
}

.featureContainer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #3b2927; /* Marron foncé */
}

/* Footer styles */
.footer {
    background-color: #eff3f6; /* Bleu clair */
    color: #3b2927; /* Marron foncé */
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 14px;
}

/* Home page styles */
.home-page {
    text-align: center;
    padding: 50px 0; /* Ajoutez de l'espace autour du contenu */
}

.home-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3b2927; /* Marron foncé */
}

.home-page p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #3b2927; /* Marron foncé */
}

/* Media query pour les écrans de petite taille (mobile) */
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navLinks {
        flex-direction: column;
        text-align: center;
    }

    .navLinks li {
        margin-left: 10px 0;
    }
}

@media only screen and (max-width: 480px) {
    /* Adjustments for mobile screens */
    .hero h1 {
      font-size: 28px; /* Adjust heading size for readability */
    }
  }
