/* Recipe page styles */

.recipe-page {
    padding: 50px 0;
  }
  
  .recipe-details-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    gap: 20px; /* Spacing between recipe image and info */
  }
  
  .recipe-image {
    width: 50%; /* Adjust width as needed */
    text-align: center;
  }
  
  .recipe-image img {
    max-width: 100%; /* Ensure image scales within container */
    height: auto; /* Maintain image aspect ratio */
  }
  
  .recipe-info {
    width: 50%; /* Adjust width as needed */
    padding: 10px;
  }
  
  .recipe-info p {
    margin-bottom: 10px;
  }
    
  .recipe-details h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  